.block-abinbev-bees-gmap form .webform-button--previous {
  display: none;
}
.block-abinbev-bees-gmap .hero-image {
  max-width: 600px;
  margin: 0 auto;
}
.block-abinbev-bees-gmap .hero-image img {
  width: 100%;
}

/*# sourceMappingURL=fwc_form.css.map */
