{% set currentPath = url('<front>') %}
{% set path = currentPath['#markup']|trim('/') ~ '/b/map?utm_source=refferal' %}

<div class="container">
  <div class="row">
    <div class="col-12 map-header">
      {{ header_text.value|raw|t }}
    </div>
    <div class="col-12 p-0">
      <div class="map-container">
        <div class="map" id="map"></div>
        <div id="map-info-panel">

          <div class="content">
            <h2></h2>
            <div class="message"><span class="icon"></span>
              <div class="message-content">
                <p class="description">{{ 'This venue is not taking part in the Jupiler 1+1 Promotion.'|t }}</p>
                {% if user_has_requested_pocs|length == 0 %}
                  <p class="inform"></p>
                  <a class="request-poc-link" href="#">{{ 'Click here if you want to access this promotion in this venue'|t }}</a>
                {% else %}
                  <p class="inform">{{ 'You have already requested POC.'|t }}</p>
{#                  <a class="request-poc-link" href="#">{{ 'Click here if you want to access this promotion in this venue'|t }}</a>#}
                {% endif %}
              </div>
            </div>
            <div class="address"><span class="icon"></span><p></p></div>
            <div class="open_hours"><span class="icon"></span><p></p></div>
            <a class="open-on-google" target="_blank" href="#">{{ 'Open in Google Maps'|t }}</a>
          </div>
          <div class="close">X</div>
        </div>
        <div class="share-container">
          <a  href="#" class="btn btn-primary share-offer-link" data-bs-toggle="modal" data-bs-target="#shareModal">
            {{ 'Share With Friends'|t }}
          </a>
          <!-- Modal -->
          <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                  <h2>{{ 'Share a free beer!'|t }}</h2>
                  <p>{{ 'Get your friends to join you for a 1+1 beer on Red Devils matchdays'|t }}</p>
                  <p>{{ 'Copy the link and get sharing!'|t }}</p>
                  <div class="input-group mb-3">
                    <span class="input-group-text"><span class="icon"></span></span>
                    <input id="share-link" type="text" class="form-control" placeholder="Share Offer" aria-label="Share Offer" aria-describedby="button-addon2" value="{{ path }}">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" value="Copy"><span class="label">{{ 'Copy'|t }}</span><span class="icon"></span></button>
                  </div>
                  <button class="btn btn-outline-primary" type="button" id="share-button" value="Share"><span class="label">{{ 'Share'|t }}</span><span class="icon"></span></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 bees-logo"></div>
  </div>
</div>