{#<div class="container">#}
{#  <div class="row">#}
{#    <div class="col-12 col-md-6">#}
{#      {{ form }}#}
{#      {{ form.form_build_id }}#}
{#      {{ form.form_token }}#}
{#      {{ form.form_id }}#}
{#    </div>#}
{#    <div class="col-12 col-md-6">#}
{#      <div id="map" data-lon="{{ form.lon.value }}" data-lat="{{ form.lat.value }}">MAP</div>#}
{#    </div>#}
{#  </div>#}

{#</div>#}
XXX